
notebooks/.ipynb_checkpoints/01_TheWhy_Code_to_Learn-checkpoint.ipynb
.DS_Store
notebooks/.ipynb_checkpoints/02_What_Jupyter4edu-checkpoint.ipynb
notebooks/.ipynb_checkpoints/sample_assignment-checkpoint.ipynb
notebooks/.ipynb_checkpoints/03_How_Jupyter_and_Openedx-checkpoint.ipynb
